<div class="employee-container">
  <p-dataTable [value]="employees"
               [responsive]="true"
               selectionMode="single"
               [(selection)]="selectedEmployee"
               (onRowSelect)="onSelectEmployee($event)" >
    <p-header>Employees</p-header>
    <p-column *ngFor="let col of columns"
              [field]="col.field"
              [header]="col.header">

    </p-column>
    <p-footer>
      <div class="ui-helper-clearfix" style="width:100%">
        <button type="button"
                pButton
                icon="fa-plus"
                style="float:left"
                (click)="showCreateDialog()"
                label="Add">
        </button>
      </div>
    </p-footer>
  </p-dataTable>
  <p-paginator [rows]="pageSize"
               [totalRecords]="length"
               [rowsPerPageOptions]="[10,20,30]"
               (onPageChange)="onPageChange($event)">
  </p-paginator>
  <p-dialog header="Employee Details"
            [(visible)]="displayDialog"
            [responsive]="true"
            showEffect="fade"
            [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="employee">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="name">Name</label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText id="name" [(ngModel)]="employee.name" />
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="surName">Surname</label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText id="surName" [(ngModel)]="employee.surName" />
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="birthDate">Birth date</label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText id="birthDate" [(ngModel)]="employee.birthDate" />
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="city">City</label>
        </div>
        <div class="ui-grid-col-8" >
          <p-dropdown id="city" [options]="cities" [(ngModel)]="cityName" placeholder="Select a City"></p-dropdown>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="phone">Phone</label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText id="phone" [(ngModel)]="employee.phoneNum" />
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="group">Group</label>
        </div>
        <div class="ui-grid-col-8" *ngIf="employee.group">
          <input pInputText id="group" [(ngModel)]="employee.group.name" />
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button"
                pButton icon="fa-close"
                (click)="delete()"
                label="Delete">
        </button>
        <button type="button"
                pButton icon="fa-check"
                (click)="save()"
                label="Save">
        </button>
      </div>
    </p-footer>
  </p-dialog>
</div>
